{% extends 'base.html' %}

{% block title %}
<title>My Fitness - Shopping Bag</title>
{% endblock %}

{% block content %}
<div class="container width-80 breakpoint-lg margin-auto pad-2">
  <div class="flex-row align-center justify-between">
    <h1>Shopping Bag</h1>
    <div class="flex-row gap-2">
      <a href="{% url 'all_products' %}" class="btn btn-md bg-sky-400 bd-radius-1 ft-slate-900">
        Continue Shopping
      </a>
      <a href="{% url 'checkout' %}" class="btn btn-md bg-sky-400 bd-radius-1 ft-slate-900">
        Checkout
      </a>
    </div>
  </div>
  <hr>
</div>

<div class="container width-80 breakpoint-lg margin-auto pad-2">
  {% if bag_items %}
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th class="bg-slate-800">Product Info</th>
            <th class="bg-slate-800"></th>
            <th class="bg-slate-800">Price</th>
            <th class="bg-slate-800">Qty</th>
            <th class="bg-slate-800">Sub Total</th>
          </tr>
        </thead>

        {% for item in bag_items %}
          <tr>
            <td>
              {% if item.product.image == "" %}
                <img src="{{ item.product.image_url }}" alt="{{ item.product.name }}">
              {% else %}
                <img src="{{ item.product.image }}" alt="{{ item.product.name }}">
              {% endif %}
            </td>
            <td>
              <p>{{ item.product.name }} - {{ item.product.sku }}</p>
            </td>
            <td>
              <p>£{{ item.product.price }}</p>
            </td>
            <td>
              <p>{{ item.quantity }}</p>
            </td>
            <td>
              <p>£{{ item.sub_total }}</p>
            </td>
            <!-- Adjust bag -->
            <td>
              <form action="{% url 'adjust_bag' item.product.id %}" method="POST">
                {% csrf_token %}
                <div class="flex-row gap-1">
                  <input type="hidden" name="product_id" value="{{ item.product.id }}">
                  <input type="hidden" name="quantity" value="{{ item.quantity }}">
                  <input 
                    class="bg-slate-500 bd-width-0 pad-inline-2 bd-radius-2 shadow-focus-1 sh-sky-300 transition-slow" 
                    type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99">
                  <button type="submit" class="btn btn-md bg-sky-400 bd-width-0 bd-radius-1">Adjust</button>
                </div>
              </form>
            </td>
            <!-- Remove from bag -->
            <td>
              <form action="{% url 'remove_from_bag' item.product.id %}" method="POST">
                {% csrf_token %}
                <input 
                  class="bg-slate-500 bd-width-0 pad-inline-2 bd-radius-2 shadow-focus-1 sh-sky-300 transition-slow" 
                  type="hidden" name="product_id" value="{{ item.item_id }}">
                <button type="submit" class="btn btn-md bg-sky-400 bd-width-0 bd-radius-1">Remove</button>
              </form>
            </td>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p class="ft-size-3xl">Your Bag is empty!</p>
  {% endif %}
</div>
{% endblock %}