{% extends 'base.html' %}
{% load viewcomponent_tags %}

{% block title %}
<title>My Fitness - Shopping Bag</title>
{% endblock %}

{% block content %}
<div class="container width-80 breakpoint-lg margin-auto pad-2">
  <div class="flex-row align-center justify-between">
    <h1>Shopping Bag</h1>
    {% component "url_button" variant="primary" size="lg" href="all_products" %}
      Back to All Products
    {% endcomponent %}
  </div>
  <hr>
</div>

<div class="container width-80 breakpoint-lg margin-auto pad-2">
  <div class="row">
    <div class="col-span-12">
      {% if bag_items %}
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th class="bg-slate-800">Product Info</th>
                <th class="bg-slate-800"></th>
                <th class="bg-slate-800">Price</th>
                <th class="bg-slate-800">Qty</th>
                <th class="bg-slate-800">Sub Total</th>
              </tr>
            </thead>

            {% for item in bag_items %}
              <tr>
                <td>
                  {% if item.product.image == "" %}
                    <img src="{{ item.product.image_url }}" alt="{{ item.product.name }}">
                  {% else %}
                    <img src="{{ item.product.image }}" alt="{{ item.product.name }}">
                  {% endif %}
                </td>
                <td>
                  <p>{{ item.product.name }} - {{ item.product.sku }}</p>
                </td>
                <td>
                  <p>£{{ item.product.price }}</p>
                </td>
                <td>
                  <p>{{ item.quantity }}</p>
                </td>
                <td>
                  <p>£{{ product.price }}</p>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      {% else %}
        <p class="ft-size-3xl">Your Bag is empty!</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}