/**/
:root {
  color-scheme: light dark;
}

/*
Properties
----------------------------------------
*/
@property --shadow-color {
  syntax: "<color>";
  initial-value: #00000022;
  inherits: false;
}

/*
Colors
----------------------------------------
*/
.bg-white { background-color: #fff; }
.bg-black { background-color: #000; }
.bg-transparent { background-color: transparent; }
.ft-white { color: #fff; }
.ft-black { color: #000; }

/*
Simplify Reset
----------------------------------------
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

h1 { font-size: clamp(2.4rem, 2.5rem, 2.6rem); }
h2 { font-size: clamp(2rem, 2.1rem, 2.2rem); }
h3 { font-size: clamp(1.6rem, 1.7rem, 1.8rem); }
h4 { font-size: clamp(1.4rem, 1.5rem, 1.6rem); }
h5 { font-size: clamp(1.2rem, 1.3rem, 1.4rem); }
h6 { font-size: clamp(1rem, 1.1rem, 1.2rem); }

p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

i {
  vertical-align: middle;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

hr {
  border: 0;
  border-top: 1px solid hsl(210, 3%, 58%);
  opacity: 0.25;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li, ol {
  list-style: none;
}

/*
Font Families
----------------------------------------
*/

.ft-serif {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.ft-sans {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.ft-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/*
Letter Spacing
----------------------------------------
*/

.spacing-xs { letter-spacing: -0.05em; }
.spacing-sm { letter-spacing: -0.025em; }
.spacing-md { letter-spacing: 0; }
.spacing-lg { letter-spacing: 0.025em; }
.spacing-xl { letter-spacing: 0.05em; }
.spacing-xxl { letter-spacing: 0.1em; }

/*
Font weights
----------------------------------------
*/
.ft-weight-100 { font-weight: 100; }
.ft-weight-200 { font-weight: 200; }
.ft-weight-300 { font-weight: 300; }
.ft-weight-400 { font-weight: 400; }
.ft-weight-500 { font-weight: 500; }
.ft-weight-600 { font-weight: 600; }
.ft-weight-700 { font-weight: 700; }
.ft-weight-800 { font-weight: 800; }
.ft-weight-900 { font-weight: 900; }

/*  
Font Sizes
----------------------------------------
*/
.ft-size-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.ft-size-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.ft-size-md {
  font-size: 1rem;
  line-height: 1.5rem;
}

.ft-size-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.ft-size-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.ft-size-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.ft-size-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.ft-size-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.ft-size-5xl {
  font-size: 3rem;
  line-height: 1;
}

.ft-size-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.ft-size-7xl {
  font-size: 4.5rem;
  line-height: 1;
}

.ft-size-8xl {
  font-size: 6rem;
  line-height: 1;
}

.ft-size-9xl {
  font-size: 8rem;
  line-height: 1;
}

/*
Text Alignment
----------------------------------------
*/

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }
.text-start { text-align: start; }
.text-end { text-align: end; }

/*/
Text Transform
----------------------------------------
*/
.text-lower { text-transform: lowercase; }
.text-upper { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }
.text-normal { text-transform: none; }

/*
Text Wrapping
----------------------------------------
*/
.text-no-wrap { text-wrap: nowrap; }
.text-wrap { text-wrap: wrap; }

/*
Overflow
----------------------------------------
*/
.overflow-hidden { overflow: hidden; }
.overflow-visible { overflow: visible; }
.overflow-scroll { overflow: scroll; }
.overflow-auto { overflow: auto; }

.overflow-x-hidden { overflow-x: hidden; }
.overflow-x-visible { overflow-x: visible; }
.overflow-x-scroll { overflow-x: scroll; }
.overflow-x-auto { overflow-x: auto; }

.overflow-y-hidden { overflow-y: hidden; }
.overflow-y-visible { overflow-y: visible; }
.overflow-y-scroll { overflow-y: scroll; }
.overflow-y-auto { overflow-y: auto; }

/*
Gap
----------------------------------------
*/

.gap-0 { gap: 0; }
.gap-1 { gap: 0.25rem; }
.gap-2 { gap: 0.5rem; }
.gap-3 { gap: 0.75rem; }
.gap-4 { gap: 1rem; }
.gap-5 { gap: 1.25rem; }

/*
Padding
----------------------------------------
*/
.pad-0 { padding: 0; }
.pad-1 { padding: 0.25rem; }
.pad-2 { padding: 0.5rem; }
.pad-3 { padding: 0.75rem; }
.pad-4 { padding: 1rem; }
.pad-5 { padding: 1.25rem; }

.pad-inline-0 { padding-inline: 0; }
.pad-inline-1 { padding-inline: 0.25rem; }
.pad-inline-2 { padding-inline: 0.5rem; }
.pad-inline-3 { padding-inline: 0.75rem; }
.pad-inline-4 { padding-inline: 1rem; }
.pad-inline-5 { padding-inline: 1.25rem; }

.pad-block-0 { padding-block: 0; }
.pad-block-1 { padding-block: 0.25rem; }
.pad-block-2 { padding-block: 0.5rem; }
.pad-block-3 { padding-block: 0.75rem; }
.pad-block-4 { padding-block: 1rem; }

/*
Margin
----------------------------------------
*/
.margin-auto { margin: auto; }
.margin-0 { margin: 0; }
.margin-1 { margin: 0.25rem; }
.margin-2 { margin: 0.5rem; }
.margin-3 { margin: 0.75rem; }
.margin-4 { margin: 1rem; }
.margin-5 { margin: 1.25rem; }

.margin-inline-0 { margin-inline: 0; }
.margin-inline-1 { margin-inline: 0.25rem; }
.margin-inline-2 { margin-inline: 0.5rem; }
.margin-inline-3 { margin-inline: 0.75rem; }
.margin-inline-4 { margin-inline: 1rem; }
.margin-inline-5 { margin-inline: 1.25rem; }

.margin-block-0 { margin-block: 0; }
.margin-block-1 { margin-block: 0.25rem; }
.margin-block-2 { margin-block: 0.5rem; }
.margin-block-3 { margin-block: 0.75rem; }
.margin-block-4 { margin-block: 1rem; }
.margin-block-5 { margin-block: 1.25rem; }

/*
Border Width
----------------------------------------
*/
.bd-width-0 { border-width: 0; }
.bd-width-1 { border-width: 1px; }
.bd-width-2 { border-width: 2px; }
.bd-width-3 { border-width: 3px; }
.bd-width-4 { border-width: 4px; }
.bd-width-5 { border-width: 5px; }

/*
Border Radius
----------------------------------------
*/
.bd-radius-0 { border-radius: 0; }
.bd-radius-1 { border-radius: 0.125rem; }
.bd-radius-2 { border-radius: 0.25rem; }
.bd-radius-3 { border-radius: 0.5rem; }
.bd-radius-4 { border-radius: 0.75rem; }
.bd-radius-5 { border-radius: 1rem; }
.bd-radius-full { border-radius: 100vh; }

/*
Border Style
----------------------------------------
*/
.bd-solid { border-style: solid; }
.bd-dashed { border-style: dashed; }
.bd-dotted { border-style: dotted; }
.bd-double { border-style: double; }
.bd-none { border-style: none; }
.bd-groove { border-style: groove; }
.bd-ridge { border-style: ridge; }
.bd-inset { border-style: inset; }
.bd-outset { border-style: outset; }

/*
Box Shadow
----------------------------------------
*/
.shadow-1 { box-shadow: 0px 0px 5px 2px var(--shadow-color); }
.shadow-hover-1:hover { box-shadow: 0px 0px 5px 2px var(--shadow-color); }
.shadow-focus-1:focus { box-shadow: 0px 0px 5px 2px var(--shadow-color); }
.shadow-checked-1:checked { box-shadow: 0px 0px 5px 2px var(--shadow-color); }

.shadow-2 { box-shadow: 2px 2px 8px var(--shadow-color); }


/*
Button
----------------------------------------
*/
.btn {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  text-align: center;
  transition: all 0.3s ease;
}
.btn:hover {
  transform: translateY(-2px);
  filter: brightness(90%);
}
.btn:active {
  transform: translateY(0);
}

/*
Button Sizes
----------------------------------------
*/
.btn-sm {
  height: 25px;
  width: fit-content;
  padding-inline: 0.3rem;
  font-size: 0.7rem;
}
.btn-md {
  height: 35px;
  width: fit-content;
  padding-inline: 0.8rem;
  font-size: 0.8rem;
}
.btn-lg {
  height: 45px;
  width: fit-content;
  padding-inline: 1rem;
  font-size: 0.9rem;
}
.btn-xxl {
  height: 55px;
  width: fit-content;
  padding-inline: 1.5rem;
  font-size: 1.2rem;
}
.btn-icon {
  width: 40px;
  height: 40px;
  font-size: 0.7rem;
  flex-direction: column;
  gap: 0.2rem;
  position: relative;
}

/*
Justify Content
----------------------------------------
*/
.justify-start { justify-content: flex-start; }
.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-evenly { justify-content: space-evenly; }

/*
Align Items
----------------------------------------
*/
.align-start { align-items: flex-start; }
.align-center { align-items: center; }
.align-end { align-items: flex-end; }
.align-baseline { align-items: baseline; }
.align-stretch { align-items: stretch; }

/*
Transition  
----------------------------------------
*/
.transition-slow { transition: all 1.5s ease; }
.transition-medium { transition: all 0.5s ease; }
.transition-fast { transition: all 0.3s ease; }

/*
Form Controls
----------------------------------------
*/
input:not([type="checkbox"]):not([type="radio"]),
select,
textarea {
  min-height: 35px;
  outline: none;
  resize: vertical;
}

::placeholder {
  color: hsl(210, 3%, 58%);
}


input[type="checkbox"] {
  height: 16px;
  width: 16px;
  appearance: none;
  position: relative;
  outline: none;
  cursor: pointer;
}
/* Add check mark from font awesome when checked */
input[type="checkbox"]:checked::after {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 0.7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
Sticky Header
----------------------------------------
*/
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 9999;
}

/*
Widths
----------------------------------------
*/
.width-100 { width: 100%; }
.width-90 { width: 100%; }
.width-80 { width: 100%; }
.width-70 { width: 100%; }
.width-60 { width: 100%; }
.width-50 { width: 100%; }
.width-40 { width: 100%; }
.width-30 { width: 100%; }
.width-20 { width: 100%; }
.width-10 { width: 100%; }

.width-fixed-10 { width: 10px; }
.width-fixed-20 { width: 20px; }
.width-fixed-30 { width: 30px; }
.width-fixed-40 { width: 40px; }
.width-fixed-50 { width: 50px; }
.width-fixed-60 { width: 60px; }
.width-fixed-70 { width: 70px; }
.width-fixed-80 { width: 80px; }
.width-fixed-90 { width: 90px; }
.width-fixed-100 { width: 100px; }
.width-fixed-110 { width: 110px; }
.width-fixed-120 { width: 120px; }
.width-fixed-130 { width: 130px; }
.width-fixed-140 { width: 140px; }
.width-fixed-150 { width: 150px; }
.width-fixed-160 { width: 160px; }
.width-fixed-170 { width: 170px; }
.width-fixed-180 { width: 180px; }
.width-fixed-190 { width: 190px; }
.width-fixed-200 { width: 200px; }

.view-width-100 { width: 100vw; }
.view-width-90 { width: 90vw; }
.view-width-80 { width: 80vw; }
.view-width-70 { width: 70vw; }
.view-width-60 { width: 60vw; }
.view-width-50 { width: 50vw; }
.view-width-40 { width: 40vw; }
.view-width-30 { width: 30vw; }
.view-width-20 { width: 20vw; }
.view-width-10 { width: 10vw; }

/*
Heights
----------------------------------------
*/
.height-100 { height: 100%; }
.height-90 { height: 90%; }
.height-80 { height: 80%; }
.height-70 { height: 70%; }
.height-60 { height: 60%; }
.height-50 { height: 50%; }
.height-40 { height: 40%; }
.height-30 { height: 30%; }
.height-20 { height: 20%; }
.height-10 { height: 10%; }

.height-fixed-10 { height: 10px; }
.height-fixed-20 { height: 20px; }
.height-fixed-30 { height: 30px; }
.height-fixed-40 { height: 40px; }
.height-fixed-50 { height: 50px; }
.height-fixed-60 { height: 60px; }
.height-fixed-70 { height: 70px; }
.height-fixed-80 { height: 80px; }
.height-fixed-90 { height: 90px; }
.height-fixed-100 { height: 100px; }
.height-fixed-110 { height: 110px; }
.height-fixed-120 { height: 120px; }
.height-fixed-130 { height: 130px; }
.height-fixed-140 { height: 140px; }
.height-fixed-150 { height: 150px; }
.height-fixed-160 { height: 160px; }
.height-fixed-170 { height: 170px; }
.height-fixed-180 { height: 180px; }
.height-fixed-190 { height: 190px; }
.height-fixed-200 { height: 200px; }

.view-height-100 { height: 100vh; }
.view-height-90 { height: 90vh; }
.view-height-80 { height: 80vh; }
.view-height-70 { height: 70vh; }
.view-height-60 { height: 60vh; }
.view-height-50 { height: 50vh; }
.view-height-40 { height: 40vh; }
.view-height-30 { height: 30vh; }
.view-height-20 { height: 20vh; }
.view-height-10 { height: 10vh; }

.height-fit-content { height: fit-content;}

/*
Base Layouts
----------------------------------------
*/
.flex-row {
  display: flex;
  flex-flow: row nowrap;
}
.flex-col {
  display: flex;
  flex-flow: column nowrap;
}
.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}
.flex-col-wrap {
  display: flex;
  flex-flow: column wrap;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}

/*
Container 
----------------------------------------
*/
.container {
  container-type: inline-size;
  container-name: container;
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
}

/*
Sticky Footer container
----------------------------------------
*/
.sticky-footer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

/*
Show/Hide Content
----------------------------------------
*/
.show-breakpoint-0 {
  &.content { display: grid; }
}
.hide-breakpoint-0 {
  &.content { display: none; }
}

/*
Flex Grid System
----------------------------------------
*/

.row {
  display: flex;
  flex-flow: row wrap;
}
.col-span-1,
.col-span-2,
.col-span-3,
.col-span-4,
.col-span-5,
.col-span-6,
.col-span-7,
.col-span-8,
.col-span-9,
.col-span-10,
.col-span-11,
.col-span-12 {
  flex-basis: 100%;
}

/*
Grid System
----------------------------------------
*/

.grid {
  --tracks: 1;
  --track-size: 200px;
  --min-size: max(var(--track-size), calc(100% / var(--tracks)));
  display: grid;
}
.tracks-fixed {
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--track-size), var(--track-size))
  );
}
.tracks-fluid {
  grid-template-columns: repeat(auto-fit, minmax(var(--min-size), 1fr));
}

/* Tracks */
.tracks-2 {
  --tracks: 3;
}
.tracks-3 {
  --tracks: 4;
}
.tracks-4 {
  --tracks: 5;
}
.tracks-5 {
  --tracks: 6;
}
.tracks-6 {
  --tracks: 7;
}
.tracks-7 {
  --tracks: 8;
}
.tracks-8 {
  --tracks: 9;
}
.tracks-9 {
  --tracks: 10;
}
.tracks-10 {
  --tracks: 11;
}
.tracks-11 {
  --tracks: 12;
}
.tracks-12 {
  --tracks: 13;
}

/* Track Size */
.track-size-50 {
  --track-size: 50px;
}
.track-size-100 {
  --track-size: 100px;
}
.track-size-150 {
  --track-size: 150px;
}
.track-size-200 {
  --track-size: 200px;
}
.track-size-250 {
  --track-size: 250px;
}
.track-size-300 {
  --track-size: 300px;
}
.track-size-350 {
  --track-size: 350px;
}
.track-size-400 {
  --track-size: 400px;
}

@media screen and (max-width: 450px) {
  .track-size-50,
  .track-size-100,
  .track-size-150,
  .track-size-200,
  .track-size-250,
  .track-size-300,
  .track-size-350,
  .track-size-400 {
    --track-size: 100%;
  }
}

/* Column Spanning */
@media screen and (min-width: 768px) {
  .span-2 {
    grid-column: span 2;
  }
  .span-3 {
    grid-column: span 2;
  }
}
@media screen and (min-width: 992px) {
  .span-3 {
    grid-column: span 3;
  }
  .span-4 {
    grid-column: span 4;
  }
}
@media screen and (min-width: 1200px) {
  .span-4 {
    grid-column: span 4;
  }
}
/* Media Queries 
----------------------------------------
*/



/* Small Breakpoint */
@media screen and (min-width: 576px) {
  /* Show/Hide */
  .show-breakpoint-sm {
    &.content { display: grid; }
  }
  .hide-breakpoint-sm {
    &.content { display: none; }
  }

  .breakpoint-sm {
    &.width-100 { width: 100%; }
    &.width-90 { width: 90%; }
    &.width-80 { width: 80%; }
    &.width-70 { width: 70%; }
    &.width-60 { width: 60%; }
    &.width-50 { width: 50%; }
    &.width-40 { width: 40%; }
    &.width-30 { width: 30%; }
    &.width-20 { width: 20%; }
    &.width-10 { width: 10%; }

    /* Flex grid */
    &.row { flex-flow: row nowrap; }
    &.col-span-1 { flex: calc((1 / 12) * 1); }
    &.col-span-2 { flex: calc((1 / 12) * 2); }
    &.col-span-3 { flex: calc((1 / 12) * 3); }
    &.col-span-4 { flex: calc((1 / 12) * 4); }
    &.col-span-5 { flex: calc((1 / 12) * 5); }
    &.col-span-6 { flex: calc((1 / 12) * 6); }
    &.col-span-7 { flex: calc((1 / 12) * 7); }
    &.col-span-8 { flex: calc((1 / 12) * 8); }
    &.col-span-9 { flex: calc((1 / 12) * 9); }
    &.col-span-10 { flex: calc((1 / 12) * 10); }
    &.col-span-11 { flex: calc((1 / 12) * 11); }
    &.col-span-12 { flex: calc((1 / 12) * 12); }
  }
}

/* Medium Breakpoint */
@media screen and (min-width: 768px) {
  /* Show/Hide */
  .show-breakpoint-md {
    &.content { display: grid; }
  }
  .hide-breakpoint-md {
    &.content { display: none; }
  }

  .breakpoint-md {
    &.width-100 { width: 100%; }
    &.width-90 { width: 90%; }
    &.width-80 { width: 80%; }
    &.width-70 { width: 70%; }
    &.width-60 { width: 60%; }
    &.width-50 { width: 50%; }
    &.width-40 { width: 40%; }
    &.width-30 { width: 30%; }
    &.width-20 { width: 20%; }
    &.width-10 { width: 10%; }

    /* Flex grid */
    &.row { flex-flow: row nowrap; }
    &.col-span-1 { flex: calc((1 / 12) * 1); }
    &.col-span-2 { flex: calc((1 / 12) * 2); }
    &.col-span-3 { flex: calc((1 / 12) * 3); }
    &.col-span-4 { flex: calc((1 / 12) * 4); }
    &.col-span-5 { flex: calc((1 / 12) * 5); }
    &.col-span-6 { flex: calc((1 / 12) * 6); }
    &.col-span-7 { flex: calc((1 / 12) * 7); }
    &.col-span-8 { flex: calc((1 / 12) * 8); }
    &.col-span-9 { flex: calc((1 / 12) * 9); }
    &.col-span-10 { flex: calc((1 / 12) * 10); }
    &.col-span-11 { flex: calc((1 / 12) * 11); }
    &.col-span-12 { flex: calc((1 / 12) * 12); }
  }
}

/* Large Breakpoint */
@media screen and (min-width: 992px) {
  /* Show/Hide */
  .show-breakpoint-lg {
    &.content { display: grid; }
  }
  .hide-breakpoint-lg {
    &.content { display: none; }
  }

  .breakpoint-lg {
    &.width-100 { width: 100%; }
    &.width-90 { width: 90%; }
    &.width-80 { width: 80%; }
    &.width-70 { width: 70%; }
    &.width-60 { width: 60%; }
    &.width-50 { width: 50%; }
    &.width-40 { width: 40%; }
    &.width-30 { width: 30%; }
    &.width-20 { width: 20%; }
    &.width-10 { width: 10%; }

    /* Flex grid */
    &.row { flex-flow: row nowrap; }
    &.col-span-1 { flex: calc((1 / 12) * 1); }
    &.col-span-2 { flex: calc((1 / 12) * 2); }
    &.col-span-3 { flex: calc((1 / 12) * 3); }
    &.col-span-4 { flex: calc((1 / 12) * 4); }
    &.col-span-5 { flex: calc((1 / 12) * 5); }
    &.col-span-6 { flex: calc((1 / 12) * 6); }
    &.col-span-7 { flex: calc((1 / 12) * 7); }
    &.col-span-8 { flex: calc((1 / 12) * 8); }
    &.col-span-9 { flex: calc((1 / 12) * 9); }
    &.col-span-10 { flex: calc((1 / 12) * 10); }
    &.col-span-11 { flex: calc((1 / 12) * 11); }
    &.col-span-12 { flex: calc((1 / 12) * 12); }
  }
}

/* Extra Large Breakpoint */
@media screen and (min-width: 1200px) {
  /* Show/Hide */
  .show-breakpoint-xl {
    &.content { display: grid; }
  }
  .hide-breakpoint-xl {
    &.content { display: none; }
  }

  .breakpoint-xl {
    &.width-100 { width: 100%; }
    &.width-90 { width: 90%; }
    &.width-80 { width: 80%; }
    &.width-70 { width: 70%; }
    &.width-60 { width: 60%; }
    &.width-50 { width: 50%; }
    &.width-40 { width: 40%; }
    &.width-30 { width: 30%; }
    &.width-20 { width: 20%; }
    &.width-10 { width: 10%; }

    /* Flex grid */
    &.row { flex-flow: row nowrap; }
    &.col-span-1 { flex: calc((1 / 12) * 1); }
    &.col-span-2 { flex: calc((1 / 12) * 2); }
    &.col-span-3 { flex: calc((1 / 12) * 3); }
    &.col-span-4 { flex: calc((1 / 12) * 4); }
    &.col-span-5 { flex: calc((1 / 12) * 5); }
    &.col-span-6 { flex: calc((1 / 12) * 6); }
    &.col-span-7 { flex: calc((1 / 12) * 7); }
    &.col-span-8 { flex: calc((1 / 12) * 8); }
    &.col-span-9 { flex: calc((1 / 12) * 9); }
    &.col-span-10 { flex: calc((1 / 12) * 10); }
    &.col-span-11 { flex: calc((1 / 12) * 11); }
    &.col-span-12 { flex: calc((1 / 12) * 12); }
  }
}

/* Extra Extra Large Breakpoint */
@media screen and (min-width: 1400px) {
  /* Show/Hide */
  .show-breakpoint-xxl {
    &.content { display: grid; }
  }
  .hide-breakpoint-xxl {
    &.content { display: none; }
  }

  .breakpoint-xxl {
    &.width-100 { width: 100%; }
    &.width-90 { width: 90%; }
    &.width-80 { width: 80%; }
    &.width-70 { width: 70%; }
    &.width-60 { width: 60%; }
    &.width-50 { width: 50%; }
    &.width-40 { width: 40%; }
    &.width-30 { width: 30%; }
    &.width-20 { width: 20%; }
    &.width-10 { width: 10%; }

    /* Flex grid */
    &.row { flex-flow: row nowrap; }
    &.col-span-1 { flex: calc((1 / 12) * 1); }
    &.col-span-2 { flex: calc((1 / 12) * 2); }
    &.col-span-3 { flex: calc((1 / 12) * 3); }
    &.col-span-4 { flex: calc((1 / 12) * 4); }
    &.col-span-5 { flex: calc((1 / 12) * 5); }
    &.col-span-6 { flex: calc((1 / 12) * 6); }
    &.col-span-7 { flex: calc((1 / 12) * 7); }
    &.col-span-8 { flex: calc((1 / 12) * 8); }
    &.col-span-9 { flex: calc((1 / 12) * 9); }
    &.col-span-10 { flex: calc((1 / 12) * 10); }
    &.col-span-11 { flex: calc((1 / 12) * 11); }
    &.col-span-12 { flex: calc((1 / 12) * 12); }
  }
}
