<div class="card bg-slate-600 bd-radius-2 pad-1 flex-col gap-2 justify-between">
  <img src="{{ product.image_url }}" alt="{{ product.name }}" class="card-img">
  <div class="card-body flex-col gap-2 justify-between">
    <h6 class="ft-sky-400">{{ product.name }}</h6>
    {% if product.discount_price %}
      <p class="ft-red-400 text-strike">Price: £{{ product.price }}</p>
      <p class="ft-emerald-400">Discount Price: £{{ product.discount_price }}</p>
    {% else %}
      <p>Price: £{{ product.price }}</p>
    {% endif %}
    <p>{{ product.category_id.friendly_name }}</p>
    <p>{{ product.subcategory_id.friendly_name }}</p>
    <p class="flex-row align-center gap-2">
      <i class="fas fa-star ft-amber-400" aria-hidden="true"></i>
      {% if product.rating == None %}
        <span>0</span>
      {% else %}
        <span>{{ product.rating|floatformat:1 }}</span>
      {% endif %}
    </p>
    <div class="flex-row gap-2">
      {% if user.is_superuser %}
        <a href="{% url 'edit_product' product.id %}" 
          class="btn pad-2 bg-slate-500 bd-radius-2 bd-width-0" 
          title="Edit Product" 
          aria-label="Edit Product">
          <i class="fas fa-edit" aria-hidden="true"></i>
        </a>
        <a href="{% url 'delete_product' product.id %}" 
          class="btn pad-2 bg-slate-500 bd-radius-2 bd-width-0" 
          title="Delete Product" 
          aria-label="Delete Product">
          <i class="fas fa-trash-alt" aria-hidden="true"></i>
        </a>
      {% endif %}
      <form class="flex-row gap-1" action="{% url 'add_to_bag' product.id %}" method="post">
        {% csrf_token %}
        <label for="quantity-{{ product.id }}" class="sr-only">Quantity</label>
        <input id="quantity-{{ product.id }}" 
          class="bg-slate-500 bd-width-0 pad-inline-2 bd-radius-2 shadow-focus-1 sh-sky-300 transition-slow" 
              type="number" name="quantity" value="1" min="1" max="5" aria-label="Quantity">
        <button type="submit" class="btn pad-2 bg-slate-500 bd-radius-2 bd-width-0" aria-label="Add to cart">
          <i class="fas fa-shopping-cart" aria-hidden="true"></i>
        </button>
        <input type="hidden" name="redirect_url" value="{{ request.path }}">
      </form>
    </div>
  </div>
  <a href="{% url 'product_detail' product.id %}" 
    class="btn btn-md bg-sky-500 bd-radius-2 width-100" 
    aria-label="View Product">
    View Product
  </a>
</div>
