:root {
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --slate-950: #09142b;
  --sky-50: #f0f9ff;
  --sky-100: #e0f2fe;
  --sky-200: #bae6fd;
  --sky-300: #7dd3fc;
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
  --sky-600: #0284c7;
  --sky-700: #0369a1;
  --sky-800: #075985;
  --sky-900: #0c4a6e;
  --sky-950: #062c4b;
  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --red-950: #6b1d1d;
}

.bg-slate-50 { background: var(--slate-50); }
.bg-slate-100 { background: var(--slate-100); }
.bg-slate-200 { background: var(--slate-200); }
.bg-slate-300 { background: var(--slate-300); }
.bg-slate-400 { background: var(--slate-400); }
.bg-slate-500 { background: var(--slate-500); }
.bg-slate-600 { background: var(--slate-600); }
.bg-slate-700 { background: var(--slate-700); }
.bg-slate-800 { background: var(--slate-800); }
.bg-slate-900 { background: var(--slate-900); }
.bg-slate-950 { background: var(--slate-950); }

.bg-slate-hover-50:hover { background: var(--slate-50); }
.bg-slate-hover-100:hover { background: var(--slate-100); }
.bg-slate-hover-200:hover { background: var(--slate-200); }
.bg-slate-hover-300:hover { background: var(--slate-300); }
.bg-slate-hover-400:hover { background: var(--slate-400); }
.bg-slate-hover-500:hover { background: var(--slate-500); }
.bg-slate-hover-600:hover { background: var(--slate-600); }
.bg-slate-hover-700:hover { background: var(--slate-700); }
.bg-slate-hover-800:hover { background: var(--slate-800); }
.bg-slate-hover-900:hover { background: var(--slate-900); }
.bg-slate-hover-950:hover { background: var(--slate-950); }

.bg-slate-focus-50:focus { background: var(--slate-50); }
.bg-slate-focus-100:focus { background: var(--slate-100); }
.bg-slate-focus-200:focus { background: var(--slate-200); }
.bg-slate-focus-300:focus { background: var(--slate-300); }
.bg-slate-focus-400:focus { background: var(--slate-400); }
.bg-slate-focus-500:focus { background: var(--slate-500); }
.bg-slate-focus-600:focus { background: var(--slate-600); }
.bg-slate-focus-700:focus { background: var(--slate-700); }
.bg-slate-focus-800:focus { background: var(--slate-800); }
.bg-slate-focus-900:focus { background: var(--slate-900); }
.bg-slate-focus-950:focus { background: var(--slate-950); }

.ft-slate-50 { color: var(--slate-50); }
.ft-slate-100 { color: var(--slate-100); }
.ft-slate-200 { color: var(--slate-200); }
.ft-slate-300 { color: var(--slate-300); }
.ft-slate-400 { color: var(--slate-400); }
.ft-slate-500 { color: var(--slate-500); }
.ft-slate-600 { color: var(--slate-600); }
.ft-slate-700 { color: var(--slate-700); }
.ft-slate-800 { color: var(--slate-800); }
.ft-slate-900 { color: var(--slate-900); }
.ft-slate-950 { color: var(--slate-950); }

.ft-slate-hover-50:hover { color: var(--slate-50); }
.ft-slate-hover-100:hover { color: var(--slate-100); }
.ft-slate-hover-200:hover { color: var(--slate-200); }
.ft-slate-hover-300:hover { color: var(--slate-300); }
.ft-slate-hover-400:hover { color: var(--slate-400); }
.ft-slate-hover-500:hover { color: var(--slate-500); }
.ft-slate-hover-600:hover { color: var(--slate-600); }
.ft-slate-hover-700:hover { color: var(--slate-700); }
.ft-slate-hover-800:hover { color: var(--slate-800); }
.ft-slate-hover-900:hover { color: var(--slate-900); }
.ft-slate-hover-950:hover { color: var(--slate-950); }

.ft-slate-focus-50:focus { color: var(--slate-50); }
.ft-slate-focus-100:focus { color: var(--slate-100); }
.ft-slate-focus-200:focus { color: var(--slate-200); }
.ft-slate-focus-300:focus { color: var(--slate-300); }
.ft-slate-focus-400:focus { color: var(--slate-400); }
.ft-slate-focus-500:focus { color: var(--slate-500); }
.ft-slate-focus-600:focus { color: var(--slate-600); }
.ft-slate-focus-700:focus { color: var(--slate-700); }
.ft-slate-focus-800:focus { color: var(--slate-800); }
.ft-slate-focus-900:focus { color: var(--slate-900); }
.ft-slate-focus-950:focus { color: var(--slate-950); }

.bd-slate-50 { border-color: var(--slate-50); }
.bd-slate-100 { border-color: var(--slate-100); }
.bd-slate-200 { border-color: var(--slate-200); }
.bd-slate-300 { border-color: var(--slate-300); }
.bd-slate-400 { border-color: var(--slate-400); }
.bd-slate-500 { border-color: var(--slate-500); }
.bd-slate-600 { border-color: var(--slate-600); }
.bd-slate-700 { border-color: var(--slate-700); }
.bd-slate-800 { border-color: var(--slate-800); }
.bd-slate-900 { border-color: var(--slate-900); }
.bd-slate-950 { border-color: var(--slate-950); }

.sh-slate-50 { --shadow-color: var(--slate-50); }
.sh-slate-100 { --shadow-color: var(--slate-100); }
.sh-slate-200 { --shadow-color: var(--slate-200); }
.sh-slate-300 { --shadow-color: var(--slate-300); }
.sh-slate-400 { --shadow-color: var(--slate-400); }
.sh-slate-500 { --shadow-color: var(--slate-500); }
.sh-slate-600 { --shadow-color: var(--slate-600); }
.sh-slate-700 { --shadow-color: var(--slate-700); }
.sh-slate-800 { --shadow-color: var(--slate-800); }
.sh-slate-900 { --shadow-color: var(--slate-900); }
.sh-slate-950 { --shadow-color: var(--slate-950); }

.bg-sky-50 { background: var(--sky-50); }
.bg-sky-100 { background: var(--sky-100); }
.bg-sky-200 { background: var(--sky-200); }
.bg-sky-300 { background: var(--sky-300); }
.bg-sky-400 { background: var(--sky-400); }
.bg-sky-500 { background: var(--sky-500); }
.bg-sky-600 { background: var(--sky-600); }
.bg-sky-700 { background: var(--sky-700); }
.bg-sky-800 { background: var(--sky-800); }
.bg-sky-900 { background: var(--sky-900); }
.bg-sky-950 { background: var(--sky-950); }

.bg-sky-hover-50:hover { background: var(--sky-50); }
.bg-sky-hover-100:hover { background: var(--sky-100); }
.bg-sky-hover-200:hover { background: var(--sky-200); }
.bg-sky-hover-300:hover { background: var(--sky-300); }
.bg-sky-hover-400:hover { background: var(--sky-400); }
.bg-sky-hover-500:hover { background: var(--sky-500); }
.bg-sky-hover-600:hover { background: var(--sky-600); }
.bg-sky-hover-700:hover { background: var(--sky-700); }
.bg-sky-hover-800:hover { background: var(--sky-800); }
.bg-sky-hover-900:hover { background: var(--sky-900); }
.bg-sky-hover-950:hover { background: var(--sky-950); }

.bg-sky-focus-50:focus { background: var(--sky-50); }
.bg-sky-focus-100:focus { background: var(--sky-100); }
.bg-sky-focus-200:focus { background: var(--sky-200); }
.bg-sky-focus-300:focus { background: var(--sky-300); }
.bg-sky-focus-400:focus { background: var(--sky-400); }
.bg-sky-focus-500:focus { background: var(--sky-500); }
.bg-sky-focus-600:focus { background: var(--sky-600); }
.bg-sky-focus-700:focus { background: var(--sky-700); }
.bg-sky-focus-800:focus { background: var(--sky-800); }
.bg-sky-focus-900:focus { background: var(--sky-900); }
.bg-sky-focus-950:focus { background: var(--sky-950); }

.ft-sky-50 { color: var(--sky-50); }
.ft-sky-100 { color: var(--sky-100); }
.ft-sky-200 { color: var(--sky-200); }
.ft-sky-300 { color: var(--sky-300); }
.ft-sky-400 { color: var(--sky-400); }
.ft-sky-500 { color: var(--sky-500); }
.ft-sky-600 { color: var(--sky-600); }
.ft-sky-700 { color: var(--sky-700); }
.ft-sky-800 { color: var(--sky-800); }
.ft-sky-900 { color: var(--sky-900); }
.ft-sky-950 { color: var(--sky-950); }

.ft-sky-hover-50:hover { color: var(--sky-50); }
.ft-sky-hover-100:hover { color: var(--sky-100); }
.ft-sky-hover-200:hover { color: var(--sky-200); }
.ft-sky-hover-300:hover { color: var(--sky-300); }
.ft-sky-hover-400:hover { color: var(--sky-400); }
.ft-sky-hover-500:hover { color: var(--sky-500); }
.ft-sky-hover-600:hover { color: var(--sky-600); }
.ft-sky-hover-700:hover { color: var(--sky-700); }
.ft-sky-hover-800:hover { color: var(--sky-800); }
.ft-sky-hover-900:hover { color: var(--sky-900); }
.ft-sky-hover-950:hover { color: var(--sky-950); }

.ft-sky-focus-50:focus { color: var(--sky-50); }
.ft-sky-focus-100:focus { color: var(--sky-100); }
.ft-sky-focus-200:focus { color: var(--sky-200); }
.ft-sky-focus-300:focus { color: var(--sky-300); }
.ft-sky-focus-400:focus { color: var(--sky-400); }
.ft-sky-focus-500:focus { color: var(--sky-500); }
.ft-sky-focus-600:focus { color: var(--sky-600); }
.ft-sky-focus-700:focus { color: var(--sky-700); }
.ft-sky-focus-800:focus { color: var(--sky-800); }
.ft-sky-focus-900:focus { color: var(--sky-900); }
.ft-sky-focus-950:focus { color: var(--sky-950); }

.bd-sky-50 { border-color: var(--sky-50); }
.bd-sky-100 { border-color: var(--sky-100); }
.bd-sky-200 { border-color: var(--sky-200); }
.bd-sky-300 { border-color: var(--sky-300); }
.bd-sky-400 { border-color: var(--sky-400); }
.bd-sky-500 { border-color: var(--sky-500); }
.bd-sky-600 { border-color: var(--sky-600); }
.bd-sky-700 { border-color: var(--sky-700); }
.bd-sky-800 { border-color: var(--sky-800); }
.bd-sky-900 { border-color: var(--sky-900); }
.bd-sky-950 { border-color: var(--sky-950); }

.sh-sky-50 { --shadow-color: var(--sky-50); }
.sh-sky-100 { --shadow-color: var(--sky-100); }
.sh-sky-200 { --shadow-color: var(--sky-200); }
.sh-sky-300 { --shadow-color: var(--sky-300); }
.sh-sky-400 { --shadow-color: var(--sky-400); }
.sh-sky-500 { --shadow-color: var(--sky-500); }
.sh-sky-600 { --shadow-color: var(--sky-600); }
.sh-sky-700 { --shadow-color: var(--sky-700); }
.sh-sky-800 { --shadow-color: var(--sky-800); }
.sh-sky-900 { --shadow-color: var(--sky-900); }
.sh-sky-950 { --shadow-color: var(--sky-950); }


.bg-red-50 { background: var(--red-50); }
.bg-red-100 { background: var(--red-100); }
.bg-red-200 { background: var(--red-200); }
.bg-red-300 { background: var(--red-300); }
.bg-red-400 { background: var(--red-400); }
.bg-red-500 { background: var(--red-500); }
.bg-red-600 { background: var(--red-600); }
.bg-red-700 { background: var(--red-700); }
.bg-red-800 { background: var(--red-800); }
.bg-red-900 { background: var(--red-900); }
.bg-red-950 { background: var(--red-950); }

.bg-red-hover-50:hover { background: var(--red-50); }
.bg-red-hover-100:hover { background: var(--red-100); }
.bg-red-hover-200:hover { background: var(--red-200); }
.bg-red-hover-300:hover { background: var(--red-300); }
.bg-red-hover-400:hover { background: var(--red-400); }
.bg-red-hover-500:hover { background: var(--red-500); }
.bg-red-hover-600:hover { background: var(--red-600); }
.bg-red-hover-700:hover { background: var(--red-700); }
.bg-red-hover-800:hover { background: var(--red-800); }
.bg-red-hover-900:hover { background: var(--red-900); }
.bg-red-hover-950:hover { background: var(--red-950); }

.bg-red-focus-50:focus { background: var(--red-50); }
.bg-red-focus-100:focus { background: var(--red-100); }
.bg-red-focus-200:focus { background: var(--red-200); }
.bg-red-focus-300:focus { background: var(--red-300); }
.bg-red-focus-400:focus { background: var(--red-400); }
.bg-red-focus-500:focus { background: var(--red-500); }
.bg-red-focus-600:focus { background: var(--red-600); }
.bg-red-focus-700:focus { background: var(--red-700); }
.bg-red-focus-800:focus { background: var(--red-800); }
.bg-red-focus-900:focus { background: var(--red-900); }
.bg-red-focus-950:focus { background: var(--red-950); }

.ft-red-50 { color: var(--red-50); }
.ft-red-100 { color: var(--red-100); }
.ft-red-200 { color: var(--red-200); }
.ft-red-300 { color: var(--red-300); }
.ft-red-400 { color: var(--red-400); }
.ft-red-500 { color: var(--red-500); }
.ft-red-600 { color: var(--red-600); }
.ft-red-700 { color: var(--red-700); }
.ft-red-800 { color: var(--red-800); }
.ft-red-900 { color: var(--red-900); }
.ft-red-950 { color: var(--red-950); }

.ft-red-hover-50:hover { color: var(--red-50); }
.ft-red-hover-100:hover { color: var(--red-100); }
.ft-red-hover-200:hover { color: var(--red-200); }
.ft-red-hover-300:hover { color: var(--red-300); }
.ft-red-hover-400:hover { color: var(--red-400); }
.ft-red-hover-500:hover { color: var(--red-500); }
.ft-red-hover-600:hover { color: var(--red-600); }
.ft-red-hover-700:hover { color: var(--red-700); }
.ft-red-hover-800:hover { color: var(--red-800); }
.ft-red-hover-900:hover { color: var(--red-900); }
.ft-red-hover-950:hover { color: var(--red-950); }

.ft-red-focus-50:focus { color: var(--red-50); }
.ft-red-focus-100:focus { color: var(--red-100); }
.ft-red-focus-200:focus { color: var(--red-200); }
.ft-red-focus-300:focus { color: var(--red-300); }
.ft-red-focus-400:focus { color: var(--red-400); }
.ft-red-focus-500:focus { color: var(--red-500); }
.ft-red-focus-600:focus { color: var(--red-600); }
.ft-red-focus-700:focus { color: var(--red-700); }
.ft-red-focus-800:focus { color: var(--red-800); }
.ft-red-focus-900:focus { color: var(--red-900); }
.ft-red-focus-950:focus { color: var(--red-950); }

.bd-red-50 { border-color: var(--red-50); }
.bd-red-100 { border-color: var(--red-100); }
.bd-red-200 { border-color: var(--red-200); }
.bd-red-300 { border-color: var(--red-300); }
.bd-red-400 { border-color: var(--red-400); }
.bd-red-500 { border-color: var(--red-500); }
.bd-red-600 { border-color: var(--red-600); }
.bd-red-700 { border-color: var(--red-700); }
.bd-red-800 { border-color: var(--red-800); }
.bd-red-900 { border-color: var(--red-900); }
.bd-red-950 { border-color: var(--red-950); }

.sh-red-50 { --shadow-color: var(--red-50); }
.sh-red-100 { --shadow-color: var(--red-100); }
.sh-red-200 { --shadow-color: var(--red-200); }
.sh-red-300 { --shadow-color: var(--red-300); }
.sh-red-400 { --shadow-color: var(--red-400); }
.sh-red-500 { --shadow-color: var(--red-500); }
.sh-red-600 { --shadow-color: var(--red-600); }
.sh-red-700 { --shadow-color: var(--red-700); }
.sh-red-800 { --shadow-color: var(--red-800); }
.sh-red-900 { --shadow-color: var(--red-900); }
.sh-red-950 { --shadow-color: var(--red-950); }


