:root {
  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --red-950: #6b1d1d;
}

.bg-red-50 { background: var(--red-50); }
.bg-red-100 { background: var(--red-100); }
.bg-red-200 { background: var(--red-200); }
.bg-red-300 { background: var(--red-300); }
.bg-red-400 { background: var(--red-400); }
.bg-red-500 { background: var(--red-500); }
.bg-red-600 { background: var(--red-600); }
.bg-red-700 { background: var(--red-700); }
.bg-red-800 { background: var(--red-800); }
.bg-red-900 { background: var(--red-900); }
.bg-red-950 { background: var(--red-950); }

.bg-red-hover-50:hover { background: var(--red-50); }
.bg-red-hover-100:hover { background: var(--red-100); }
.bg-red-hover-200:hover { background: var(--red-200); }
.bg-red-hover-300:hover { background: var(--red-300); }
.bg-red-hover-400:hover { background: var(--red-400); }
.bg-red-hover-500:hover { background: var(--red-500); }
.bg-red-hover-600:hover { background: var(--red-600); }
.bg-red-hover-700:hover { background: var(--red-700); }
.bg-red-hover-800:hover { background: var(--red-800); }
.bg-red-hover-900:hover { background: var(--red-900); }
.bg-red-hover-950:hover { background: var(--red-950); }

.bg-red-focus-50:focus { background: var(--red-50); }
.bg-red-focus-100:focus { background: var(--red-100); }
.bg-red-focus-200:focus { background: var(--red-200); }
.bg-red-focus-300:focus { background: var(--red-300); }
.bg-red-focus-400:focus { background: var(--red-400); }
.bg-red-focus-500:focus { background: var(--red-500); }
.bg-red-focus-600:focus { background: var(--red-600); }
.bg-red-focus-700:focus { background: var(--red-700); }
.bg-red-focus-800:focus { background: var(--red-800); }
.bg-red-focus-900:focus { background: var(--red-900); }
.bg-red-focus-950:focus { background: var(--red-950); }

.ft-red-50 { color: var(--red-50); }
.ft-red-100 { color: var(--red-100); }
.ft-red-200 { color: var(--red-200); }
.ft-red-300 { color: var(--red-300); }
.ft-red-400 { color: var(--red-400); }
.ft-red-500 { color: var(--red-500); }
.ft-red-600 { color: var(--red-600); }
.ft-red-700 { color: var(--red-700); }
.ft-red-800 { color: var(--red-800); }
.ft-red-900 { color: var(--red-900); }
.ft-red-950 { color: var(--red-950); }

.ft-red-hover-50:hover { color: var(--red-50); }
.ft-red-hover-100:hover { color: var(--red-100); }
.ft-red-hover-200:hover { color: var(--red-200); }
.ft-red-hover-300:hover { color: var(--red-300); }
.ft-red-hover-400:hover { color: var(--red-400); }
.ft-red-hover-500:hover { color: var(--red-500); }
.ft-red-hover-600:hover { color: var(--red-600); }
.ft-red-hover-700:hover { color: var(--red-700); }
.ft-red-hover-800:hover { color: var(--red-800); }
.ft-red-hover-900:hover { color: var(--red-900); }
.ft-red-hover-950:hover { color: var(--red-950); }

.ft-red-focus-50:focus { color: var(--red-50); }
.ft-red-focus-100:focus { color: var(--red-100); }
.ft-red-focus-200:focus { color: var(--red-200); }
.ft-red-focus-300:focus { color: var(--red-300); }
.ft-red-focus-400:focus { color: var(--red-400); }
.ft-red-focus-500:focus { color: var(--red-500); }
.ft-red-focus-600:focus { color: var(--red-600); }
.ft-red-focus-700:focus { color: var(--red-700); }
.ft-red-focus-800:focus { color: var(--red-800); }
.ft-red-focus-900:focus { color: var(--red-900); }
.ft-red-focus-950:focus { color: var(--red-950); }

.bd-red-50 { border-color: var(--red-50); }
.bd-red-100 { border-color: var(--red-100); }
.bd-red-200 { border-color: var(--red-200); }
.bd-red-300 { border-color: var(--red-300); }
.bd-red-400 { border-color: var(--red-400); }
.bd-red-500 { border-color: var(--red-500); }
.bd-red-600 { border-color: var(--red-600); }
.bd-red-700 { border-color: var(--red-700); }
.bd-red-800 { border-color: var(--red-800); }
.bd-red-900 { border-color: var(--red-900); }
.bd-red-950 { border-color: var(--red-950); }

.sh-red-50 { --shadow-color: var(--red-50); }
.sh-red-100 { --shadow-color: var(--red-100); }
.sh-red-200 { --shadow-color: var(--red-200); }
.sh-red-300 { --shadow-color: var(--red-300); }
.sh-red-400 { --shadow-color: var(--red-400); }
.sh-red-500 { --shadow-color: var(--red-500); }
.sh-red-600 { --shadow-color: var(--red-600); }
.sh-red-700 { --shadow-color: var(--red-700); }
.sh-red-800 { --shadow-color: var(--red-800); }
.sh-red-900 { --shadow-color: var(--red-900); }
.sh-red-950 { --shadow-color: var(--red-950); }


